Django
djangorestframework
django-cors-headers
django-filter
Pillow
psycopg2-binary
python-decoupl
django-cloudinary-storage
cloudinary
django-taggit
django-ckeditor
gunicorn
whitenoise
sentry-sdk
dj-database-url